.footer {
  margin-top: 160px;
  width: 100%;
  max-width: 1920px;
  height: 200px;
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (max-width: 420px) {
    margin-top: 80px;
  }

  & h4 {
    font-size: 14px;
    font-weight: 400;
  }
}
